/JavaAdvProjects/src/main/java/Lesson13/BufferedStreamsExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/ByteChannelExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/ByteStreamsExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/CharStreamsExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/CommandLineExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/NodeStreamsExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/PropertiesExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/ScannerExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/SerializeStockExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/SystemConsoleExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/SystemInputExample/nbproject/private/
/JavaAdvProjects/src/main/java/Lesson13/SystemPrintExample/nbproject/private/